<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>UK Airspace Select</title>

  <link href="static/css/custom.css" rel="stylesheet">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
<main role="main" class="container">
  <form action="/" method="post">

    <!-- Navbar-->
    <nav class="nav nav-pills" role="tablist" id="navmenu">
      <a class="nav-item nav-link active" data-toggle="tab" role="tab" href="#main">Main</a>
      <a class="nav-item nav-link" data-toggle="tab" role="tab" href="#extra">Extra</a>
      <a class="nav-item nav-link" data-toggle="tab" role="tab" href="#options">Options</a>
      <a class="nav-item nav-link" data-toggle="tab" role="tab" href="#about">About</a>
    </nav>

    <!-- Main tab -->
    <div class="tab-content" id="tabdiv">
      <div role="tabpanel" class="tab-pane fade show active" id="main">

        <!-- Choices, choices... -->
        {% for x in choices %}
        <div class="form-group row">
          <label class="col-form-label text-right col-5">{{x.label}}</label>
          <div class="col-7 col-md-4">
            <select class="form-control" name="{{x.name}}">
              <option value="{{x.value1}}" {{"selected" if values[x.name] == x.value1}}>{{x.option1}}</option>
              <option value="{{x.value2}}" {{"selected" if values[x.name] == x.value2}}>{{x.option2}}</option>
            </select>
          </div>
        </div>
        {% endfor %}

        <!-- Output format select -->
        <div class="form-group row">
          <label class="col-5 col-form-label text-right">Format</label>
          <div class="col-7 col-md-4">
            <select class="form-control" name="format">
              {% for format in formats %}
              <option value="{{format['name']}}" {{"selected" if values['format'] == format['name']}}>{{format.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Wave boax, LoA and RA(T) tab -->
      <div role="tabpanel" class="tab-pane fade" id="extra">
        <!-- Wave boxes -->
        <h6>Wave Boxes</h6>
        <div class="form-group row">
        {% for x in wave %}
          <div class="col-12 col-sm-6 form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="wave-{{x}}" value="" {{"checked" if ("wave-" ~ x) in values}}>
              {{x}}
            </label>
          </div>
        {% endfor %}
        </div>

        <!-- LoA -->
        <h6>LoA</h6>
        <div class="form-group row">
        {% for x in loa %}
          <div class="col-12 col-sm-6 form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="loa-{{x}}" value="" {{"checked" if ("loa-" ~ x) in values}}> {{x}}
            </label>
          </div>
        {% endfor %}
        </div>

        <!-- RA(T)s -->
        <h6>RA(T)</h6>
        {% for x in rat %}
        <div class="form-group row">
          <div class="col-12 col-sm-6 form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="rat-{{x}}" value="" {{"checked" if ("rat-" ~ x) in values}}> {{x}}
            </label>
          </div>
        </div>
        {% else %}
        <p>No RA(T)s currently published.</p>
        {% endfor %}
      </div>

      <!-- Option tab -->
      <div role="tabpanel" class="tab-pane fade" id="options">
        <!-- Exclude above FL105 -->
        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Maximum level</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="maxlevel">
              {% for level in maxlevels %}
              <option value="{{level['value']}}" {{"selected" if values['maxlevel'] == level['value']}}>{{level.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Latitude max/min -->
        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Omit North of</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="north">
              {% for lat in norths %}
              <option value="{{lat['value']}}" {{"selected" if values['north'] == lat['value']}}>{{lat.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Omit South of</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="south">
              {% for lat in souths %}
              <option value="{{lat['value']}}" {{"selected" if values['south'] == lat['value']}}>{{lat.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- About tab -->
      <div role="tabpanel" class="tab-pane fade" id="about">
        <h6>Output Format</h6>
        <p>The recommended output format is OpenAir.
        Tim Newport-Peace (TNP) format should be used with caution; it is not
        interpreted consistently by all software.</p>
        <h6>Airspace</h6>
        <p>No-ATZ. No-ATZ airfields are those listed as training aerodromes in
        section ENR 5.5 of the AIP. Note - many of the smaller airfields shown
        on the 1:500000 chart are not listed in the AIP and are not included
        by this program.</p>
        <p>Gliding Site. Gliding sites are shown with a radius of 1nm.</p>
        <p>Microlight Strip. Microlight strips as listed in ENR 5.5.</p>
        <p>Obstacle. Only obstacles (mainly radio masts) with a height of
        greater than 600' are included.</p>
        <p>ATZ. ATZ's are controlled airspace. The BGA recommend setting them
        to class D.</p>
        <p>ILS Feather. Although not controlled airspace the BGA recommend a
        radio call if you are in the vicinity and setting them to class D as a
        reminder.</p>
        <h6>Letters of Agreement (LoA)</h6>
        <p>Letters of Agreement are listed on the
        <a class="text-primary" href="https://members.gliding.co.uk/library/loas/">BGA website</a>.
        Local conditions apply to their use.</p>
        <h6>Data</h6>
        <p>Release history summary, see <a class="text-primary" href="/release">here</a>.</p>
        <p>The airspace database can be downloaded from
        <a class="text-primary" href="https://github.com/ahsparrow/airspace">GitHub</a>.</p>
        <h6>Contact</h6>
        <p>Comments, corrections and complaints to:
        <address><a class="text-primary" href="mailto:web@asselect.uk">Alan Sparrow</a></address></p>
        <p><small>Version: 1.0.0</small></p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Download</button>

    <p class="float-right">{{release}}</p>
  </form>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous">
</script>
</body>
</html>
