<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UK Airspace Select</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
  <link href="static/css/custom.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <form class="form-horizontal" action="/" method="post">

    <!-- Navigation tabs -->
    <div class="form-group">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#main" role="tab" data-toggle="tab">Main</a>
        </li>
        <li role="presentation">
          <a href="#loa" role="tab" data-toggle="tab">LoA</a>
        </li>
        <li role="presentation">
          <a href="#options" role="tab" data-toggle="tab">Options</a>
        </li>
        <li role="presentation">
          <a href="#about" role="tab" data-toggle="tab">About</a>
        </li>
      </ul>
    </div>

    <!-- Main tab -->
    <div class="tab-content" id="tabdiv">
      <div role="tabpanel" class="tab-pane active" id="main">

        <!-- Choices, choices... -->
        <p class="lead">Airspace Filter and Class</p>

        {% for x in choices %}
        <div class="form-group row">
          <label class="col-xs-5 control-label">{{x.label}}</label>
          <div class="col-xs-7">
            <label class="radio-inline">
              <input type="radio" name="{{x.name}}" value="{{x.value1}}" {{"checked" if values[x.name]==x.value1}}>
              {{x.option1}}
            </label>
            <label class="radio-inline">
              <input type="radio" name="{{x.name}}" value="{{x.value2}}" {{"checked" if values[x.name]==x.value2}}>
              {{x.option2}}
            </label>
          </div>
        </div>
        {% endfor %}

        <!-- Output format select -->
        <div class="form-group row">
          <label class="col-xs-5 control-label">Format</label>
          <div class="col-xs-7 col-md-4">
            <select class="form-control" name="format">
              {% for format in formats %}
              <option value="{{format['name']}}" {{"selected" if values['format'] == format['name']}}>{{format.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      </div>

      <!-- Wave boax and LoA tab -->
      <div role="tabpanel" class="tab-pane" id="loa">

        <p class="lead">Wave Boxes and LoAs</p>

        <!-- Wave boxes -->
        <div class="form-group">
        {% for x in wave %}
          <div class="col-xs-6 checkbox">
            <label>
              <input type="checkbox" name="id-{{x}}" value="" {{"checked" if ("id-" ~ x) in values}}> {{x}}
            </label>
          </div>
        {% endfor %}
        </div>

        <!-- LoAs -->
        <div class="form-group">
        {% for x in loas %}
          <div class="col-xs-6 checkbox">
            <label>
              <input type="checkbox" name="id-{{x}}" value="" {{"checked" if ("id-" ~ x) in values}}> {{x}}
            </label>
          </div>
        {% endfor %}
        </div>

      </div>

      <!-- Option tab -->
      <div role="tabpanel" class="tab-pane" id="options">
        <p class="lead">Spatial Options</p>

        <!-- Exclude above FL105 -->
        <div class="form-group row">
          <label class="col-xs-4 control-label" for="fl105">
            Omit above FL105
          </label>
          <div class="col-xs-8 checkbox">
            <label>
              <input type="checkbox" id="fl105" name="fl105" value="" {{"checked" if "fl105" in values}}>
            </label>
          </div>
        </div>

        <!-- Latitude max/min -->
        <div class="form-group row">
          <label class="col-xs-4 control-label">Omit North of latitude</label>
          <div class="col-xs-8 col-md-4">
            <select class="form-control" name="north">
              {% for x in range(59, 50, -1) %}
              <option value="{{x}}" {{"selected" if values['north'] == x|string}}>{{x}}°</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xs-4 control-label">Omit South of latitude</label>
          <div class="col-xs-8 col-md-4">
            <select class="form-control" name="south">
              {% for x in range(58, 49, -1) %}
              <option value="{{x}}" {{"selected" if values['south'] == x|string}}>{{x}}°</option>
              {% endfor %}
            </select>
          </div>
        </div>

      </div>

      <!-- About tab -->
      <div role="tabpanel" class="tab-pane" id="about">
        <h4>Notes</h4>
        <p><strong>Non-ATZ.</strong> Non-ATZ airfields are those listed as
        training aerodromes in section ENR 5.5 of the AIP. Note - many of the
        smaller airfields shown on the 1:500000 chart are not listed in the
        AIP and so are not included by this program.</p>
        <p><strong>Ultralight Strips.</strong> Microlight strips are also
        listed in ENR 5.5</p>
        <p><strong>Obstacles.</strong> Only obstacles (mainly radio masts)
        with a height of greater than 600' are included.</p>
      </div>
    </div>

    <button type="Submit" class="btn btn-default">Download</button>

    <p class="pull-right">{{release}}</p>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>

</body>
</html>
