<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="UK Airspace data">

  <title>ASSelect UK</title>

  <link href="static/css/custom.css" rel="stylesheet">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <link rel="shortcut icon" href="static/images/favicon.ico">
</head>

<body>
<main class="container mt-1">
  <form action="/download" method="get">

    <!-- Navbar-->
    <nav class="nav nav-pills" role="tablist" id="navmenu">
      <a class="nav-item nav-link px-2 px-sm-3 active" data-toggle="tab" href="#main">Main</a>
      <a class="nav-item nav-link px-2 px-sm-3" data-toggle="tab" href="#extra">Extra</a>
      <a class="nav-item nav-link px-2 px-sm-3" data-toggle="tab" href="#options">Opts</a>
      <a class="nav-item nav-link px-2 px-sm-3 mr-auto" data-toggle="tab" href="#about">About</a>
      <a class="nav-item nav-link px-2 px-sm-3" data-toggle="tab" href="#notam">NOTAM</a>
    </nav>

    <!-- Main tab -->
    <div class="tab-content rounded-right rounded-bottom" id="tabdiv">
      <div class="tab-pane fade show active" id="main">

        <!-- Choices, choices... -->
        {% for choice in choices %}
        <div class="form-group row">
          <label class="col-form-label text-right col-5">{{choice.label}}</label>
          <div class="col-7 col-md-4">
            <select class="form-control" name="{{choice.name}}">
              {% for option in choice.options %}
                <option value="{{option.value}}" {{"selected" if values[choice.name] == option.value}}>{{option.option}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endfor %}

        <!-- Output format select -->
        <div class="form-group row">
          <label class="col-5 col-form-label text-right">Format</label>
          <div class="col-7 col-md-4">
            <select class="form-control" name="format">
              {% for format in formats %}
              <option value="{{format['name']}}" {{"selected" if values['format'] == format['name']}}>{{format.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Wave boax, LoA and RA(T) tab -->
      <div class="tab-pane fade" id="extra">
        <!-- Wave boxes -->
        <div class="row">
          <div class="col-auto">
            <h6>Wave Boxes</h6>
          </div>
          <div class="col-auto ml-auto">
            <button id="wave-set" type="button" class="btn btn-sm btn-link">Clear All</button>
          </div>
        </div>

        <div class="form-group row">
        {% for x in wave %}
          <div class="col-12 col-sm-6 mb-1">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input wave-check" name="wave-{{x}}" value="" {{"checked" if ("wave-" ~ x) in values}}>
                {{x}}
              </label>
            </div>
          </div>
        {% endfor %}
        </div>

        <!-- LoA -->
        <div id="loa-div" class="row">
          <div class="col-auto">
            <h6>Local Agreements</h6>
          </div>
          <div class="col-auto ml-auto">
            <button id="loa-set" type="button" class="btn btn-sm btn-link">Clear All</button>
          </div>
        </div>

        <div class="form-group row">
        {% for x in loa %}
          <div class="col-12 col-sm-6 mb-1">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input loa-check" name="loa-{{x}}" value="" {{"checked" if ("loa-" ~ x) in values}}>
                {{x}}
              </label>
            </div>
          </div>
        {% endfor %}
        </div>

        <!-- RA(T)s -->
        <div id="rat-div" class="row">
          <div class="col-auto">
            <h6>Temporary Restrictions, RA(T)</h6>
          </div>
          <div class="col-auto ml-auto">
            <button id="rat-set" type="button" class="btn btn-sm btn-link">Clear All</button>
          </div>
        </div>

        <div class="form-group row">
        {% for x in rat %}
          <div class="col-12 col-sm-6 mb-1">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input rat-check" name="rat-{{x}}" value="" {{"checked" if ("rat-" ~ x) in values}}>
                {{x}}
              </label>
            </div>
          </div>
        {% else %}
          <div class="col-12 col-sm-6">
            <label>No RA(T)s currently published.</label>
          </div>
        {% endfor %}
        </div>
      </div>

      <!-- Option tab -->
      <div class="tab-pane fade" id="options">
        <!-- Exclude above -->
        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Max Level</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="maxlevel">
              {% for level in maxlevels %}
              <option value="{{level['value']}}" {{"selected" if values['maxlevel'] == level['value']}}>{{level.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Latitude max/min -->
        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Omit North of</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="north">
              {% for lat in norths %}
              <option value="{{lat['value']}}" {{"selected" if values['north'] == lat['value']}}>{{lat.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Omit South of</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="south">
              {% for lat in souths %}
              <option value="{{lat['value']}}" {{"selected" if values['south'] == lat['value']}}>{{lat.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Home club -->
        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Exclude home</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="homesite">
              {% for site in glidingsites %}
              <option value="{{site}}" {{"selected" if values['homesite'] == site}}>{{site}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Radio frequencies -->
        <div class="form-group row">
          <div class="col-5 text-right">
            <label class="col-form-label">Radio Frequencies</label>
          </div>
          <div class="col-7 col-md-4">
            <select class="form-control" name="radiofreq">
              {% for choice in radiofreq %}
              <option value="{{choice.value}}" {{"selected" if values['radiofreq'] == choice.value}}>{{choice.label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- About tab -->
      <div class="tab-pane fade" id="about">
        <div class="text-center">
          <h4>ASSelect UK</h4>
        </div>
        <p>Up-to-date airspace data for mainland UK in OpenAir and TNP formats.</p>
        <p><em>I have tried to make this data as accurate as possible, but
        there will still be errors. Good airmanship is your responsibility,
        not mine. Don't blame me if you go somewhere you shouldn't have
        gone while using this data.</em></p>
        <h6>Output Format</h6>
        <p>The recommended output format is OpenAir. Tim Newport-Peace (TNP)
        format should be used with caution; it is not interpreted consistently
        by all software. Competition format is intended for competition
        organisers only.</p>
        <p>RA(T)s can be download separately from the main airspace
        by setting the Format to "OpenAir, RA(T) only". Your moving map can
        then be updated without changing the main airspace file.</p>
        <h6>Airspace Types</h6>
        <p><em>Unlicensed Airfields</em> are aerodromes (without an ATZ) listed
        in section ENR&nbsp;5.5 of the AIP. The majority of smaller airfields
        shown on the 1:500000 chart are not listed in the AIP and are not
        included by this app.</p>
        <p><em>Gliding Airfields</em> are listed in ENR&nbsp;5.5 and are
        given a radius of 1&nbsp;nm by ASSelect. Your home site is
        excluded if selected on the Opt tab.</p>
        <p><em>Microlight Airfields</em> are listed in ENR&nbsp;5.5 and
        are given a radius of 0.5&nbsp;nm by ASSelect.</p>
        <p><em>Obstacles</em> are listed in ENR&nbsp;5.4. Only obstacles
        with a height of greater than 600&nbsp;ft (mainly radio masts) are
        included by ASSelect.</p>
        <p><em>ATZs</em>. A radio call is required before entering an active
        ATZ. The BGA recommend setting them to Class&nbsp;D as a reminder.
        However setting them as Control Zones will also generate an airspace
        warning while distinguishing them from true Class&nbsp;D airspace.</p>
        <p><em>ILS Feathers</em> are not strictly an airspace type but the
        BGA recommend a radio call if you are in the vicinity. It's also
        recommended to set the airspace type to generate a warning on your
        moving map. Note the feather is symbolic only - the instrument
        approach procedure extends well outside the area of the feather.</p>
        <h6>Local Agreements</h6>
        <p>BGA letters of agreement are listed on the
        <a class="text-primary" href="https://members.gliding.co.uk/library/loas/">BGA website</a>.
        With the exception of the Cambridge RAZ a local club briefing is
        required before using any local agreement.</p>
        <p><em>Cambridge RAZ</em>. The Cambridge Radio Advisory Zone (RAZ)
        is not controlled airspace. It's not mandatory but anyone flying
        in the vicinity of Cambridge airport is encouraged to make contact
        with Cambridge Approach before entering the RAZ. The RAZ is
        permanently enabled in ASSelect.<br/>Note - Openair doesn't support
        a RAZ airspace type so a Radio Mandatory Zone (RMZ) type is used
        as a substitute.</p>
        <h6>Radio frequencies</h6>
        <p>Radio frequencies can be appended to the airspace name. Some
        frequencies may be missing - Please let me know if you spot something
        wrong.</p>
        <h6>Temporary Restrictions, RA(T)</h6>
        <p>RA(T)s are detailed in Mauve AICs on the
        <a class="text-primary" href="http://www.nats-uk.ead-it.com/public/index.php.html">NATS AIS website</a>.
        RA(T)s can be downloaded separately from the rest of the airspace,
        see Output Formats above.</p>
        <h6>Data</h6>
        <p>Airspace data is updated every four weeks - see
        <a class="text-primary" href="http://www.nats-uk.ead-it.com/aip/current/misc/10_Year_AIRAC.pdf">Schedule</a>.
        This site is normally updated approximately two weeks in advance of
        the effective date.<p>
        <p>Release history summary, see <a class="text-primary" href="/release">here</a>.</p>
        <p>The airspace database can be downloaded from
        <a class="text-primary" href="https://gitlab.com/ahsparrow/airspace">GitLab</a>.</p>
        <h6>Contact</h6>
        <address>Comments, corrections and complaints to:<br />
        <a class="text-primary" href="mailto:web@asselect.uk">Alan Sparrow</a></address>
        <a class="small" href="https://gitlab.com/ahsparrow/ukair/commits/master">Version: 1.8.3</a>
      </div>

      <!-- NOTAM tab -->
      <div class="tab-pane fade" id="notam">
        <h4>NOTAM</h4>
        <p>NOTAMs are <em>not</em> included in the ASSelect data. Instead
           the four PDFs below show a summary of NOTAMs below FL100 relevant to
           cross country gliding.</p>
        <p>Today's NOTAMs are refreshed once an hour; tomorrow's every
           six hours.</p>
        <div class="row mb-1">
          <div class="ml-1 col-sm-auto">
            <a class="text-primary" href="media/notam/today_south.pdf">Today (England/Wales)</a>
          </div>
          <div class="ml-2 col-sm-auto">
            ({{notams.today_south}})
          </div>
        </div>
        <div class="row mb-1">
          <div class="ml-1 col-sm-auto">
            <a class="text-primary" href="media/notam/today_north.pdf">Today (Scotland/N. England)</a>
          </div>
          <div class="ml-2 col-sm-auto">
            ({{notams.today_north}})
          </div>
        </div>
        <div class="row mb-1">
          <div class="ml-1 col-sm-auto">
            <a class="text-primary" href="media/notam/tomorrow_south.pdf">Tomorrow (England/Wales)</a>
          </div>
          <div class="ml-2 col-sm-auto">
            ({{notams.tomorrow_south}})
          </div>
        </div>
        <div class="row">
          <div class="ml-1 col-sm-auto">
            <a class="text-primary" href="media/notam/tomorrow_north.pdf">Tomorrow (Scotland/N. England)</a>
          </div>
          <div class="ml-2 col-sm-auto">
            ({{notams.tomorrow_north}})
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center">
      <div class="ml-2 mr-auto">
        <button type="submit" class="btn btn-primary">Download</button>
      </div>

      <div class="pr-2"><a class="text-secondary" href="/release">{{release}}</a></div>
    </div>
  </form>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>

<script>
$("#wave-set").on("click", function() {
    var checkboxes = $(".wave-check");
    checkboxes.prop("checked", false);
});

$("#loa-set").on("click", function() {
    var checkboxes = $(".loa-check");
    checkboxes.prop("checked", false);
});

$("#rat-set").on("click", function() {
    var checkboxes = $(".rat-check");
    checkboxes.prop("checked", false);
});
</script>
</body>
</html>
