<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>UK ASSelect History</title>

  <link href="static/css/custom.css" rel="stylesheet">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
<main role="main" class="container">
  <div class="mt-2">
    <a href="/">Back to ASSelect</a>
  </div>
  <div>
    <h2>Release History</h2>
    <pre>
{{release_text}}
    </pre>
  </div>
</main>
</body>
</html>
