#tabdiv {
  background-color: #e9ecef;
  padding: 1rem;
  margin-bottom: 1rem;
}

#navmenu > a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#navmenu > a.active {
    background-color: #e9ecef;
    color: #000;
}
