[Unit]
Description="uWSGI instance to serve UKAIR app"
After=network.target

[Service]
User=ukair
Group=www-data
RuntimeDirectory=ukair
WorkingDirectory=/srv/www/asselect.uk/ukair
Environment="UKAIR_CONFIG=/srv/www/asselect.uk/ukair/deploy_cfg.yaml"
ExecStart=/srv/www/asselect.uk/ukair/venv/bin/uwsgi --yaml deploy_cfg.yaml --virtualenv=/srv/www/asselect.uk/ukair/venv

[Install]
WantedBy=multi-user.target
